<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ssadola">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/running"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/running"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".WinterActivity"></activity>
        <activity android:name=".FallActivity" />
        <activity android:name=".SummerActivity" />
        <activity android:name=".TitleStudioActivity" />
        <activity android:name=".ImageStudioActivity" />
        <activity android:name=".StudioActivity" />
        <activity android:name=".BookmarkActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ReviewInput" />
        <activity android:name=".ReviewResult" />
        <activity android:name=".seasonactivity" />
        <activity android:name=".SpringActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCjY4kokK4Y2EcYT7no5T1CaO787UFLM6o" />

        <activity android:name=".SignUpActivity" />
        <activity android:name=".ResultDetailActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>